body {
    color:wheat;
    background: black;
    margin-left: 30px;
}

header {
    border-bottom: solid 5px darkolivegreen;
    margin: 23px;
    padding: 20px;
}

section{
    background: rgb(53, 141, 101);
    padding-bottom: 70px;
    padding-top: 50;
    display: flex;
    justify-content: center;
}

div{
    margin-right: 5%;
}